<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		{{!-- <link rel="stylesheet" href="assets/css/burger_styles.css" type="text/css" /> --}}
		<title>Black Jack</title>
	</head>
	<body>
		<div id="wrapper">
		{{{ body }}}
		</div>
	</body>
</html>