{{!-- <img id="burger-icon" src="./assets/img/burger.png">

<h1>Eat-Da-Burger!</h1>


<div id="burger-container">

    <div id="left">
    {{!-- Burgers that have not been devoured --}}

    <ol>
      {{#each burgers}}
        {{#unless this.devoured}}

    <li>
            {{this.burger_name}}

            <form action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devour" value="false">
              <button type="submit">Devour It!</button>
            </form>
    </li>

        {{/unless}}
      {{/each}}

      </ol>

    </div>


<div id="right">

    {{!-- Burgers that have been devoured --}}

    <ul>
      {{#each burgers}}
        {{#if this.devoured}}

            <li>
            {{this.burger_name}}
            </li>

      
        {{/if}}
      {{/each}}
    </ul>

    </div>
        <div id="clear"></div>

</div>



<h2>Add a Burger</h2>

<form class="add-burger" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="burger_name">
  </div>


  <button type="submit">Submit</button>
</form> --}}