<form>
  <label for="company">
    <span>Name</span>
    <input type="text" id="company" />
  </label>
  <label for="contact">
    <span>Password</span>
    <input type="text" id="contact" />
  </label>
</form>

